@import "theme-editor.css";
@import url('./views/posts-view.css');
@import url('./views/add-post-component.css');


html {
  background: rgba(238, 238, 238, 0.32);
}

.votes {
  /*background: rgba(255, 99, 71, 0.3);*/
  border: 1px solid rgba(0, 0, 0, 0.09);
}

/*.votes > button {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  border-radius: 50%;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*}*/

.vote-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.vote-icon {
  fill: #8892a0;
}

.voteup:hover {
  fill: #1be11b;
}

.votedown:hover {
  fill: red;
}