@import "theme-editor.css";
@import url('./views/posts-view.css');
@import url('./views/add-post-component.css');

html {
  background: rgba(238, 238, 238, 0.32);
}

.media-object__options {
  gap: 0;
}

/*.votes > button {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  border-radius: 50%;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*}*/

.media-object__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background: initial;
}

.media-object__icon {
  fill: #8892a0;
}

.thumbdown-red {
  fill: red;
}

.thumbup-green {
  fill: green;
}

vaadin-text-area{
  --vaadin-input-field-background: white;
  /*--vaadin-input-field-invalid-background: white;*/
  /*--vaadin-input-field-hover-highlight: white;*/
  /*--vaadin-input-field-invalid-hover-highlight: white;*/
  /*--vaadin-input-field-hover-highlight-opacity: 0;*/
}

/*
.voteup:hover {
  fill: #1be11b;
}

.votedown:hover {
  fill: red;
}*/
