/* TODO use variables instead of magic numbers + set appropriate values */
.add-post__button {
  background: #f1f1f1;
  border-radius: 3rem;
  flex-grow: 1;
  font-size: 1.1rem;
  line-height: 4rem;
  margin-right: 1rem;
  text-align: left;
  cursor: pointer;
}

.add-post__button:hover {
  background: lightgray;
}